<header class="header">
    <nav class="header__nav container">
        <div class="logo">
            <h3>Contacts App</h3>
        </div>
        <a class="white-link" asp-area="" asp-page="/Index">Главная</a>
        <a class="white-link" asp-area="" asp-page="/Counteragents/Index">Контрагенты</a>
        <a class="white-link" asp-area="" asp-page="/Contacts/Index">Контакты</a>
    </nav>
</header>